/* --- Gitbook reset --- */
.gitbook-link {
  display: none; }

.page-inner {
  padding: 23px; }

.book-header h1 {
  display: none; }

.page-inner code, .page-inner pre {
  border-radius: 0.3125em; }

.color-theme-1 #book-search-input,
.color-theme-2 #book-search-input {
  background: rgba(255, 255, 255, 0.1); }

.markdown-section sup,
.markdown-section sub {
  font-size: 0.75em; }

/* --- Codegroup overrides ---*/
.book .book-body .page-wrapper .page-inner section.normal .gbcg .gbcg-tab-selectors {
  border-bottom: none; }
  .book .book-body .page-wrapper .page-inner section.normal .gbcg .gbcg-tab-selectors:after {
    content: ".";
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
    clear: both;
    visibility: hidden; }

.book .book-body .page-wrapper .page-inner section.normal .gbcg .gbcg-tab-contents #gbcg-tab-container {
  border-radius: 0.3125em;
  border-top-left-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc !important;
  margin-bottom: 1.275em;
  background-color: #f7f7f7; }
  .book .book-body .page-wrapper .page-inner section.normal .gbcg .gbcg-tab-contents #gbcg-tab-container pre {
    margin: 0;
    border-radius: 0.3125em; }

.book .book-body .page-wrapper .page-inner section.normal .gbcg a.gbcg-selector {
  color: #364149;
  padding: 3px 15px;
  font-weight: normal;
  background-color: transparent;
  border-top-left-radius: 0.3125em;
  border-top-right-radius: 0.3125em;
  border: 1px solid #cccccc;
  border-bottom: 0;
  margin-bottom: -1px;
  margin-left: 0;
  margin-right: -1px;
  opacity: 0.5;
  float: left; }
  .book .book-body .page-wrapper .page-inner section.normal .gbcg a.gbcg-selector.gbcg-active {
    color: #364149;
    background-color: #f7f7f7;
    border-width: 1px;
    border-bottom: 0;
    border-top: 1px solid #cccccc;
    opacity: 1; }

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal .gbcg .gbcg-tab-contents #gbcg-tab-container {
  border-color: #afa790 !important;
  background-color: #fdf6e3; }

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal .gbcg a.gbcg-selector {
  color: #704214;
  border-color: #afa790; }
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal .gbcg a.gbcg-selector.gbcg-active {
    color: #704214;
    background-color: #fdf6e3;
    border-color: #afa790; }

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal .gbcg .gbcg-tab-contents #gbcg-tab-container {
  border-color: #383f52 !important;
  background-color: #2d3143; }

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal .gbcg a.gbcg-selector {
  color: #c1c6d7;
  border-color: #383f52; }
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal .gbcg a.gbcg-selector.gbcg-active {
    color: #c1c6d7;
    background-color: #2d3143;
    border-color: #383f52; }
