// Codegroup color theme
$color-gbcg-border: #cccccc;
$color-gbcg-active-background: #f7f7f7;
$color-gbcg-text: #364149;

$color-gbcg-border-1: #afa790;
$color-gbcg-active-background-1: #fdf6e3;
$color-gbcg-text-1: #704214;

$color-gbcg-border-2: #383f52;
$color-gbcg-active-background-2: #2d3143;
$color-gbcg-text-2: #c1c6d7;
